altgraph
auto-py-to-exe
bottle
bottle-websocket
Brotli
certifi
cffi
click
cx-Freeze
dash
dash-bootstrap-co
dash-core-compone
dash-html-compone
dash-renderer
dash-table
dash-table-experi
Eel
Flask
Flask-Caching
Flask-Compress
future
gevent
gevent-websocket 
greenlet
gunicorn
itsdangerous
Jinja2
MarkupSafe
mkl-fft
mkl-random
mkl-service
numpy
opencv-contrib-py
pandas
pefile
pip
plotly
py2exe
pycparser
PyInstaller
python-dateutil
pytz
pywin32-ctypes
retrying
scipy
setuptools
six
Werkzeug
wheel
whichcraft
wincertstore
zope.event
zope.interface
